@font-face{
    src: url(../../fonts/Roboto-Regular.ttf) ;
    font-family:Roboto-Regular ;
}

.myteam{
    width: 100%;
    font-family:Roboto-Regular ;
    color: #fff;
}

h1{
    position: relative;
    left: 50px;
}

.text-myteam{
    color: rgb(113, 0, 206);
}

.card-team{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.card{
    width: 25%;
    background-color: rgba(160, 160, 160, 0.459);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    padding: 8px;
    transition: all 0.3s;
}

.card:hover{
    box-shadow: 3px 6px 8px rgba(160, 160, 160, 0.459);
}

.card img{
    width: 100%;
    height: 300px;
    border-radius: 12px;
}

.card a{
    color: rgb(113, 0, 206);
}

h3{
    text-align: center;
}

.more{
    color: rgb(113, 0, 206);
}